﻿<div data-ng-controller="Shell as vm">
    <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
        <div class="page-splash">
            <div class="page-splash-message">
                Welcome the the Billboard
            </div>
        </div>
    </div>

    <header class="clearfix">
        <div data-ng-include="'app/layout/topnav.html'"></div>
    </header>
    <section id="content" class="content">
        <div data-ng-include="'app/layout/sidebar.html'"></div>

        <div data-ng-view class="shuffle-animation"></div>

        <div ngplus-overlay
             ngplus-overlay-delay-in="50"
             ngplus-overlay-delay-out="700"
             ngplus-overlay-animation="dissolve-animation">
            <img src="../../content/images/busy.gif"/>

            <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
        </div>
    </section>
</div>


