﻿<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div data-cc-widget-header title="{{vm.title}}" allow-collapse="true"></div>
                    <div class="widget-content user">
                        <h3>TODO: Implement Your Features</h3>
                        <ul>
                            <li ng-repeat="person in vm.people">
                                {{person.firstName}} {{person.lastName}}
                            </li>
                        </ul>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
