<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                        <div class="widget-content user">
                            <h3>TODO: Able to make a graph from the table and pin it to the box.</h3>
                            <div id="hot"></div>
                        </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>